<div class="btn-group" dropdown>
    <button dropdownToggle class="btn unique-color dropdown-toggle waves-light" type="button" mdbWavesEffect>
        {{selectedProject.name}}
    </button>
    <div class="dropdown-menu">
            <span *ngFor = 'let project of projectnames'>
                    <a *ngIf = ' selectedProject.name != project.name' href="#" class="dropdown-item" (click) = 'selectProject(project)'>{{project.name}}</a>
            </span>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#" (click) = 'selectHome()'><i class="fas fa-home"></i> Home</a>
        <a class="dropdown-item" href="#" (click)="show(1)"><i class="fas fa-plus-circle pull-down"></i> Add New Project</a>
        
    </div>
</div>
<br/>
<br/>
<div class="bug-section">
      <h3>Bugs <button type="button" class="btn unique-color btn-sm rounded-corner" mdbWavesEffect (click) ="show(2)" ><i class="fas fa-plus-circle"></i></button></h3>  
</div>
<div class="bug-section">
        <h3>Test Cases <button type="button" class="btn unique-color btn-sm rounded-corner" mdbWavesEffect (click) ="show(3)" ><i class="fas fa-plus-circle"></i></button></h3>  
  </div>
<br/>
<app-data-table [perPage] = "perPage" [tabledata] ="tabledata" [extended]="true" [resetfilter]="true" ></app-data-table>
<div class="bd-example">
  <div mdbModal #content="mdb-modal" class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h4 class="modal-title" id="exampleModalLabel"><span *ngIf='project.$key'>Edit Project</span><span *ngIf='!project.$key'>Add Project</span></h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="content.hide()">
                      <span aria-hidden="true">×</span>
                  </button>
              </div>
              <span *ngIf="modalSelect == 1">
                    <app-project-modal [project] = "project" [content] = "content" ></app-project-modal>
              </span>
              <span *ngIf="modalSelect == 2">
                  <app-bug-modal [content] = "content" [projectkey] = "selectedProject.id" [bug] ="selectedBug"></app-bug-modal>
              </span>
              <span *ngIf="modalSelect == 3">
                    <app-testcase-modal [content] = "content" [projectkey] = "selectedProject.id" [testcase] ="selectedTestCase"></app-testcase-modal>
                </span>
          </div>
      </div>
  </div>
</div>


