<p>
  projects works!
</p>
<ul>
<li *ngFor = "let item of projectList"> {{item.$key}} </li>

</ul>
<br/>
<input type="button" value="Click me" (click)= "onClick()">
<br/>
<br/>
<input type="button" value="Click me status" (click)= "onWeeklyStatusClick()">
<br/>
<br/>
<input type="button" value="Click me status update" (click)= "updateStatus()">
<br/>
<br/>
<input type="button" value="Click me delete" (click)= "deleteBug()">



<div *ngIf="statusVal">
  {{statusVal.created}}
  </div>
<br/>
<br/>
<input type="button" value="Click me status get" (click)= "getStatus()">




