<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark unique-color">

    <!-- Navbar brand -->
    <logo><a class="navbar-brand" href="#">Navbar</a></logo>

    <!-- Collapsible content -->
    <links>

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link waves-light" mdbWavesEffect>Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect>Features</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect>Pricing</a>
            </li>
        </ul>
        <!-- Links -->

<!-- Search form -->
        <form class="form-inline waves-light" mdbWavesEffect>
            <div class="md-form mt-0 no-margin">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
            </div>
        </form>
        <button type="button" class="btn unique-color no-shadow no-margin" mdbWavesEffect><i class="fas fa-sign-out-alt" style="font-size: 20px"></i>&nbsp;&nbsp;LogOut</button>
    </links>
    <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->